@model SMS.WebApp.Models.Teacher
@{

}

<div class="container">
    <div class="text">
        <h1>Details Teacher</h1>
        <hr>
    </div>
    <div class="details">
        <h4>ID= @Model.Id </h4>
        <h4>Name= @Model.Name</h4>
        <h4>Address= @Model.Address</h4>
        <h4>Phone= @Model.Qualification</h4>
        <h4>Email= @Model.Email</h4>
        <h4>Qualification= @Model.Phone</h4>
    </div>

</div>
